<html>
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

@*
    @await Html.PartialAsync("_Menu")
    @Html.Partial("_Menu")
*@

    <header>
        <partial name="_menu" ></partial>
    </header>
   
    <div class="container">
        <main role="main" class="pb-3">
             @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @@Fiap - 2022
        </div>
    </footer>


    @RenderSection("footer",false)
    @RenderSection("scripts",false)
    @*@RenderSection("footer",true)*@

</body>
</html>
