/*
This is an example of how to use the image sprite in your own CSS files
*/
.pais {
	background-image: url('pais.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.pais.alemanha {
	width: 218px;
	height: 124px;
	background-position: -20px -20px;
}
.pais.argentina {
	width: 168px;
	height: 99px;
	background-position: -20px -164px;
}
.pais.brasil {
	width: 207px;
	height: 121px;
	background-position: -20px -283px;
}
.pais.canada {
	width: 157px;
	height: 116px;
	background-position: -20px -424px;
}
.pais.espanha {
	width: 211px;
	height: 137px;
	background-position: -20px -560px;
}
.pais.eua {
	width: 170px;
	height: 93px;
	background-position: -20px -717px;
}
.pais.grecia {
	width: 165px;
	height: 112px;
	background-position: -20px -830px;
}
.pais.italia {
	width: 168px;
	height: 110px;
	background-position: -20px -962px;
}
.pais.japao {
	width: 177px;
	height: 115px;
	background-position: -20px -1092px;
}
.pais.portugal {
	width: 222px;
	height: 142px;
	background-position: -20px -1227px;
}
